[submodule "themes/spectre-pixel"]
	path = themes/spectre-pixel
	url = https://github.com/st-wong/hugo-spectre-pixel-theme.git
[submodule "public"]
	path = public
	url = https://github.com/gomes-fdr/gomes-fdr.github.io.git
	branch = master
[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
