[submodule "themes/spectre-pixel"]
	path = themes/spectre-pixel
	url = https://github.com/st-wong/hugo-spectre-pixel-theme.git
[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
